#CONFIG INFORMATION

#HG4930
+IMU
# deg/sqrt(h)
AngleRandomWalk= 0.1
# m/s/sqrt(h)
SpeedRandomWalk= 0.500
#                    X             Y                Z   
deg/s	 
GyroBias        =    0             0                0

#UNIT deg/h
StdGyroBias     =     10          10                10

#m/s^2            
AcceBias        =     0           0                 0

#mGal
StdAcceBias     =     25           25               25
  
#ppm            
GyroScaleFactor =   0.0          0.0              0.0
AcceScaleFactor =   0.0          0.0              0.0

# sec
Tau = 14400 
-IMU

+LeverArmGNSStoIMU  
TransX = 0.022
TransY = -0.054
TransZ =-0.47
XYZorBLH = 1
ENUorNED = 1 
-LeverArmGNSStoIMU

#ellipsoidal_parameter = 0,1,2,3 equal BJ54,XIAN80,WGS84,CGCS2000
+LeverArmLiDARtoIMU  
LtoI_TransX = -0.032
LtoI_TransY = 0.160
LtoI_TransZ = 0.04
LtoI_RotQw   = 0.000921144
LtoI_RotQx   = -0.00077115
LtoI_RotQy   = 0.00505118
LtoI_RotQz   = -0.999987
Invalid_fromX = -1.5
Invalid_toX   = 1.5
Invalid_fromY = -1.5
Invalid_toY   = 1.5
Invalid_fromZ = -1.5
Invalid_toZ   = 1.5
ellipsoidal_parameter = 2
GaussProjCLon = 111
Param_dx = 0 
Param_dy = 0 
Param_dz = 0 
Param_Qx = 0 
Param_Qy = 0 
Param_Qz = 0 
Param_Scale= 0 
m_dStaticVelocity = 0.01
m_dStdXYZ = 0.1
m_IMU_HZ = 200
-LeverArmLiDARtoIMU



